@media (min-width: 520px) {
    #sobre .box-descricao p {
        width: 98%;
    }

    #formacao .descricao {
        width: 80%;
    }
}

@media (min-width: 560px) {
    #habilidades, #projetos {
        height: 940px;
    }
}

@media (min-width: 620px) {
        .box {
            justify-content: center;
        }
}

@media (min-width: 640px) {
    #habilidades {
        height: 800px;
    }
}

@media (min-width: 820px) {
    #formacao .descricao {
        width: 60%;
    }
}

@media (min-width: 1024px) {

    nav {
        background: transparent;
    }

        nav ul {
            width: 620px;
            flex-direction: row;
            justify-content: space-between;
        }

        ul img {
            display: none;
        }
  
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
  
        header #menu {
            display: none;
        }
  
        header nav {
            position: initial;
            width: 640px;
            height: 50px;

            display: flex;
            justify-content: center;  
        }
          
    #sobre {
        height: 780px;
    }

        #sobre .descricao p {
            width: 50%;
        }

        #formacao .descricao {
            width: 50%;
        }

    #contato {
        height: 620px;
        justify-content: space-around;
    }

    #contato .box {
        height: 350px;
        flex-direction: row;
    }
}

@media (min-width: 1120px) {
    #habilidades, #projetos {
        height: 560px;
    }
}