@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #fff;
}

a {
    text-decoration: none;
}

nav {
    display: none;
    position: absolute;
    width: 60%;
    height: 100vh;
    background: #3d3d3d;
}

    nav ul {
        display: flex;
        flex-direction: column;
    }

    .menu-items li {
        list-style: none;
        font-size: 1.26em;
        padding: 15px;
        box-sizing: border-box;
    }

body {
    width: 100%;
    height: 1000px;
    background: whitesmoke;
}

    header {
        z-index: 1;
        position: fixed;
        width: 100%;
        height: 100px;
        border-bottom: 1px solid #000;
        background: #1c1c1c;
    }
    
        header a {
            text-decoration: none;
            color: #fff;
        }

        header h1 {
            display: none;
        }
    
        header #menu {
            cursor: pointer;
            width: 100px;
            height: 100px;
            margin-left: 10px;
            
            display: flex;
            align-items: center;
        }

        ul .box {
            cursor: pointer;
            width: 100%;
            height: 50px;
        
            display: flex;
            justify-content: start;
            align-items: center;
          }
        
          ul .box:hover {
            background: #5049d7;
          }
        
            ul .box img {
              margin-left: 15px;
            }

    #sobre {
        width: 100%;
        height: 800px;
        background: #1c1c1c;
        background-image: url(../img/fundo.png);
        background-repeat: no-repeat;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

        #sobre .icone {
            float: left;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-top: 100px;
            background: rgb(168, 168, 168);
        }

        #sobre .descricao {
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            .descricao h1 {
                font-size: 1.4em;
                text-align: center;
                color: silver;
                margin: 25px 0px 25px 0px;
            }

            .descricao p {
                text-align: justify;
                font-size: 1.2em;
                color: silver;
            }

            .descricao img {
                cursor: pointer;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                margin: 50px 0px 50px 0px;
                background: silver;
            }


    #habilidades {
        width: 100%;
        height: 1520px;
        background: #1c1c1c;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

        .icone { /*global*/
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


            .icone p { 
                font-size: 1.65em;
            }
    
            .box-hab {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }

                .box-hab ul {
                    cursor: pointer;
                    width: 260px;
                    height: 300px;
                    margin: 10px;
                    border-radius: 5px;
                    background: #3d3d3d;
                }

                .box-hab ul:hover {
                    background: #5049d7;
                }

                .hab-items h1 {
                    font-size: 1.65em;
                    padding: 15px;
                    box-sizing: border-box;
                }

                .hab-items li {
                    width: 100%;
                    padding:0px 0px 5px 35px;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                }


    #formacao {
        width: 100%;
        height: 340px;
        background: #3d3d3d;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

        #formacao .descricao {
            position: relative;
            width: 90%;
            height: 120px;
            border-radius: 5px;
            background: #1c1c1c;

            padding: 15px;
            box-sizing: border-box;
            text-align: center;

            display: flex;
            justify-content: center;
            align-items: center;
        }

            .descricao::before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                left: 49%;
                top: -8px;
                transform: rotate(45deg);
                background: #1c1c1c;
            }


    #projetos {
        width: 100%;
        height: 1520px;
        background: #1c1c1c;
    
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
        
        #projetos .box {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

            .box .box-proj {
                position: relative;
                width: 260px;
                height: 300px;
                margin: 10px;
                border-radius: 5px;

                display: flex;
                align-items: end;
            }

                .box-proj img {
                    border-radius: 5px;
                }

                .box-proj p {
                    position: absolute;
                    width: 100%;
                    height: 95px;
                    cursor: pointer;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    background: #111;

                    box-sizing: border-box;
                    padding: 5px;
                }

                .box-proj p:hover {
                    background: #000;
                }


    #contato {
        width: 100%;
        height: 1000px;
        background: #141414;
    
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

        #contato .icone {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 35px 0px 30px 0px;
        }

        #contato .msg {
            width: 520px;
            height: 50px;
            
            font-size: 1.6em;

            display: none;
            flex-direction: row;
            align-items: center;
        }

        #contato .box {
            width: 95%;
            height: 800px;

            display: flex;
            flex-direction: column-reverse;
            justify-content: space-around;
            align-items: center;
        }

            .box .box-social {
                width: 230px;
                height: 230px;

                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: space-between;
            }

            .box span {
                width: 280px;
                height: 230px;

                font-size: 0.97em;
                text-align: justify;
            }

                .itens {
                    cursor: pointer;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background: rgb(27, 27, 27);

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .itens:hover {
                    animation-name: border;
                    animation-duration: 0.15s;
                    animation-fill-mode: both;
                }

                @keyframes border {
                    from {background: rgb(27, 27, 27)}
                    to {background: #000}
                }
